<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" align="center">Agents Account List</h2>
            <div class="table-responsive">
                <p-table [value]="agents" [paginator]="true" [rows]="5" [tableStyle]="{ 'min-width': '50rem'}"
                    [rowsPerPageOptions]="[5, 10, 20]" id="myTable" [style]="{'white-space': 'nowrap'}">
                    <ng-template pTemplate="header">
                        <tr align="center">
                            <th pSortableColumn="id" style="width:20%">
                                ID <p-sortIcon field="id" />
                            </th>
                            <th>Avatar</th>
                            <th pSortableColumn="username" style="width:20%">
                                Username <p-sortIcon field="username" />
                            </th>
                            <th pSortableColumn="name" style="width:20%">
                                Name <p-sortIcon field="name" />
                            </th>
                            <th pSortableColumn="email" style="width:20%">
                                Email <p-sortIcon field="email" />
                            </th>
                            <th>Phone</th>
                            <th>Role</th>
                            <th>Action</th>
                        </tr>

                    </ng-template>
                    <ng-template pTemplate="body" let-agent>
                        <tr>
                            <td>{{agent.id}}</td>
                            <td><img src="{{agent.avatar}}" style="width: 50px; height: 50px; border-radius: 50%;"></td>
                            <td>{{agent.username}}</td>
                            <td>{{agent.name}}</td>
                            <td>{{agent.email}}</td>
                            <td>{{agent.phone}}</td>
                            <td>
                                @if(agent.roleId == 1){
                                Admin
                                }@else {
                                User
                                }
                            </td>
                            <td>
                                <button type="button" class="btn btn-success mr-2"
                                    [routerLink]="['/edit-agent', {id: agent.id}]">Edit</button>

                                <p-toast />
                                <p-confirmPopup />
                                <p-button (click)="delete(agent.id, $event)" label="Delete" [outlined]="true"
                                    styleClass="btn btn-danger mr-2" />

                                @if (agent.status == true) {
                                <button type="button" class="btn btn-warning mr-2"
                                    (click)="Deactive(agent.id)">Deactive</button>
                                }@else {
                                <button type="button" class="btn btn-success mr-2"
                                    (click)="Active(agent.id)">Active</button>
                                }
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>