<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Retrieve Password</h3>
                        <form [formGroup]="ForgetForm" (ngSubmit)="Retrieve()">
                            <div class="form-group">
                                <p-floatLabel>
                                    <input pInputText id="email" formControlName="email" style="width: 100%;" />
                                    <label for="email">Your Email</label>
                                </p-floatLabel>
                                @if (ForgetForm.get('email').touched) {
                                @if (ForgetForm.hasError('required',['email'])) {
                                <span class="error" style="color: red;">Email required !</span>
                                }
                                }
                            </div>
                            <div class="text-center">
                                <p-toast position="top-right" key="tl" />
                                <p-button type="ngSubmit" pRipple label="Send Email"
                                    styleClass="btn btn-info btn-block enter-btn" [disabled]="ForgetForm.invalid"
                                    [style]="{'width': '100%'}" />
                            </div>
                        </form>
                        <div class="container">
                            <div class="row" align="left">
                                <div class="col">
                                    <a [routerLink]="['/Login']">
                                        <i class="pi pi-angle-left" aria-hidden="true"></i> Back to Login
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>