<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Account Information</h3>
                        @if (InforForm != null) {
                        <form [formGroup]="InforForm">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control p_input" formControlName="username" readonly
                                    style="color: black;">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control p_input" formControlName="email">
                                @if (InforForm.get('email').touched) {
                                @if (InforForm.hasError('required',['email'])) {
                                <span class="error" style="color: red;">Email required !</span>
                                }
                                }
                            </div>
                            <div class="form-group">
                                <label>Fullname</label>
                                <input type="text" class="form-control p_input" formControlName="name">
                                @if (InforForm.get('name').touched) {
                                @if (InforForm.hasError('required',['name'])) {
                                <span class="error" style="color: red;">Fullname required !</span>
                                }
                                }
                            </div>
                            <div class="form-group">
                                <label>Phone</label>
                                <input type="text" class="form-control p_input" formControlName="phone" pattern="[0-9]*"
                                    inputmode="numeric">
                                @if (InforForm.get('phone').touched) {
                                @if (InforForm.hasError('required',['phone'])) {
                                <span class="error" style="color: red;">Phone required !</span>
                                }
                                }
                            </div>
                            <div class="text-center">
                                <input type="hidden" formControlName="roleId">
                                <input type="hidden" formControlName="id">
                                <input type="hidden" formControlName="password">
                                <input type="hidden" formControlName="status">
                                <input type="hidden" formControlName="securityCode">
                                <p-toast position="top-right" key="tl" />
                                <div class="row">
                                    <div class="col-md-4">
                                        <p-button pRipple type="ngSubmit" label="Save"
                                            styleClass="btn btn-success" [disabled]="InforForm.invalid" [style]="{'width':'100%'}" (click)="Save()"/>
                                    </div>
                                    <div class="col-md-8">
                                        <p-button pRipple type="p-button" label="Change Password"
                                            styleClass="btn btn-primary" [style]="{'width':'100%'}" [routerLink]="['changepass']"/>
                                    </div>
                                </div>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->