<div  class="container" style="background-color: white; color: black;width: 100%;height: auto;">
    <div class="container-custom">
        <label for="title">Titlee</label>
        <input type="text" [(ngModel)]="title" id="title" placeholder="Hot" type="text" style="width: 600px; border: 1px solid black;margin-left: 20px; " align="center">
        <br>
        <p>Content</p>
        <p-editor [(ngModel)]="text" [style]="{ height: '320px',boder: '1px solid black' }">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <!-- Nút định dạng văn bản -->
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                    <!-- Nút tạo danh sách -->
                    <button type="button" class="ql-list" value="ordered"></button>
                    <button type="button" class="ql-list" value="bullet"></button>
                    <!-- Nút định dạng tiêu đề -->
                    <button type="button" class="ql-header" value="1">Heading 1</button>
                    <button type="button" class="ql-header" value="2">Heading 2</button>
                    <!-- Nút canh lề -->
                    <select class="ql-align" aria-label="Align">
                        <option selected></option>
                        <option value="left"></option>
                        <option value="center"></option>
                        <option value="right"></option>
                        <option value="justify"></option>
                    </select>
                    <!-- Nút chèn link -->
                    <button type="button" class="ql-link" aria-label="Insert Link"></button>
                    <!-- Nút chèn hình ảnh -->
                    <button type="button" class="ql-image" aria-label="Insert Image"></button>
                    <!-- Nút chèn video -->
                    <button type="button" class="ql-video" aria-label="Insert Video"></button>
                    <!-- Nút xoá định dạng -->
                    <button type="button" class="ql-clean" aria-label="Remove Formatting"></button>
                    <!-- Nút undo và redo -->
                    <button type="button" class="ql-undo" aria-label="Undo"></button>
                    <button type="button" class="ql-redo" aria-label="Redo"></button>
                    <!-- Nút chọn font chữ -->
                    <select class="ql-font" aria-label="Font"></select>
                    <!-- Nút chọn kích thước chữ -->
                    <select class="ql-size" aria-label="Size">
                        <option value="small"></option>
                        <option selected></option>
                        <option value="large"></option>
                        <option value="huge"></option>
                    </select>
                </span>
            </ng-template>
        </p-editor>
    </div>


   
    <div class="container container-custom" boder="10px">
        <h2>Pictures</h2>
        <div class="d-flex justify-content-center align-items-center" style="height: 100px;">
            <div class="file-input-wrapper">
                <i class="pi pi-upload file-input-label"></i>
                <input type="file" class="file-input" (change)="selectFiles($event)" multiple>
            </div>
        </div>
        <div class="image-preview" cdkDropList (cdkDropListDropped)="onDrop($event)">
            <div *ngFor="let image of images; let i = index" class="image-container" cdkDrag>
                <img [src]="image" width="200px">
                <button class="close-button" (click)="removeImage(i)">×</button>
            </div>
        </div>

        <div class="row g-2">


        </div>
    </div>
    <div class="container container-custom" boder="10px">
        <h3>Ex :Hai Phong,</h3>
        <label for="tagname">#TagName</label>
        <input id="tagname" [(ngModel)]="tagname" type="text" style="width: 400px; border: 1px solid black;" value="" placeholder="Ex Hai Phong,ha gia,cho thue">
        <button class="btn btn-success" type="button" (click)="btn()">btn</button>
    </div>
</div>